<style>

@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

body {
  background-color: lightblue;
  border: 100%;
  
}

h1 {
  color: red;
  text-align: center;
  font-family: 'Manjari', sans-serif;
  border: 100%;
}

h2 {
  color: blue;
  text-align: left;
  border: 100%;
  
}

p {
  font-size: 20px;
  border: 100%;
  
  img{
    width: 40px;
    height: 50px
}
</style>
